<div class="select-data">
  <div class="header">
    <h2>Wybór produktów</h2>
    <fa-icon
      class="header__icon"
      [icon]="presentIcon"
      (click)="toggleList()"
    ></fa-icon>
  </div>
  <ul class="list" *ngIf="isListVisible">
    <li
      *ngFor="let product of products; let i = index"
      (click)="selectProduct(product)"
      class="list__item"
      [ngClass]="getCssForSelectedProduct(product)"
    >
      <span>{{ product.name }}</span>
      <fa-icon
        class="tooltip-icon"
        [icon]="tooltipIcon"
        (mouseenter)="showTooltip(i)"
        (mouseleave)="hideTooltip(i)"
      ></fa-icon>
      <div class="tooltip" *ngIf="isTooltipVisible[i]">
        {{ product.description }}
        <div class="arrow-down"></div>
      </div>
    </li>
  </ul>
</div>
