@import "../../assets/variables.scss";

.select-data {
  border: 1px solid $color-border;
  border-radius: 1px;
  margin: 20px auto 0 auto;
  min-height: 10vh;
  position: relative;
  width: 90%;

  .header {
    align-items: center;
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid #ccc;
    color: $color-text;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    padding: 0 15px 0 15px;

    &__icon {
      cursor: pointer;
      font-size: 25px;
    }

    h2 {
      font-weight: 500;
    }
  }

  .list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 30px 0;

    &__item {
      align-items: center;
      border: 1px solid $color-border;
      border-radius: 5px;
      box-shadow: inset 0 0 6px #aaa;
      background-color: rgb(245, 245, 245);
      cursor: pointer;
      color: $color-text;
      display: flex;
      font-size: 18px;
      height: 80px;
      justify-content: center;
      margin: 20px 20px;
      width: 200px;
      position: relative;

      .tooltip-icon {
        position: absolute;
        top: 70%;
        left: 88%;
      }

      .tooltip {
        border-radius: 10px;
        background-color: $color-tooltip;
        bottom: 38%;
        color: $color-text;
        font-size: 15px;
        position: absolute;
        padding: 15px;
        right: -32%;
        z-index: 5;

        .arrow-down {
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid $color-tooltip;
          height: 0;
          width: 0;
          position: absolute;
          top: 70%;
          left: 37%;
        }
      }

      &.selected {
        background-color: #030376;
        color: white;
      }
    }
  }
}
